header{
	background-color: #1D2B61;
}
.text{
	color: black;
	margin : 1%;
}
p{
	padding: 1%;
	text-align: justify;
}
footer{
	margin-top: 2%;
	background-color: #1D2B61;
	flex:auto;
}
h1{
	font-size: 30px;
	padding: 1%;
	color: black;
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin: 2%;
}
h2{
	font-size: 20px;
	padding: 1%;
	color: black;
	margin: 2%;
}
h3{
	font-size: 15px;
	padding: 1%;
	color: white;
	margin: 2%;
}
#nav  {
	color: white;
	display: inline-flex;
 	flex-grow: 2;
 	align-items: center;
 	width: 100%;
 	margin-top: 1%;
}
#nav  li {
	flex-grow: 1;
	font-size: 20px;margin: 1%;
}
#nav  li:before {
	content: none;	
}
#nav a{
	color: white;
	padding: 1%;
	
}
.centre{
	display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

body{
	background-color: #EAEAEE;
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
}
a{
	text-decoration: none;
	color:black;
}
.index, .commentaire{
	color:white;
}
.infoFormat{
	color:#332F40;
	font-style: italic;
	font-size: small;
}
.ligneColoree{
	background-color: white;
}

table{
	margin-left: 10%;
	box-shadow: 5px 5px 5px #330000;
}
th, td{
	padding : 2%;
	width:10%;
	
}
.choixAccueil{
	border: 2px solid blue;
	padding: 5%;
	margin: 2%;
 	color: black;
 	display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	width: 30%;
}
.tab2{
	margin-top: 5%;
}
.commande{
	background-color: white;
	border: 2px solid black;
}
.fondBlanc{
	background-color: white;
}
li{
	margin-top: 2%;
	margin-left: 2%;
}
li:before{
	content: "- ";
}
.carreConnexion{
	display: flex;
  	justify-content: center;
  	margin: 5%;
}
.identifiant, .mdp{
	padding: 2%;
	width: 100%;
}
.inscription p,.inscription p p{
	width:100%;
	margin-left: 5%;
	display: flex;
 	align-items: center;
 	justify-content: center;
}
.dejaUnCompte{
	width:30%;
}
fieldset {
    width: 100%;
    box-sizing: border-box;
    margin-left: 136px;
    border: 1px solid #999;
}
.RecapInfo, .payement{
	display: inline-grid;
 	flex-grow: 1;
 	align-items: center;
 	margin-left: 10%;
 }
.RecapInfo{
	width: 30%;
}
legend{
	margin: 2%;
}
.noDeco{
	box-shadow: none;
}
.align{
	display: inline;
}
.fs2{
    width: 50%;
    box-sizing: border-box;
    margin-left: 136px;
    border: 1px solid #999;

}
.fs3{
    width: 50%;
    box-sizing: border-box;
 
    border: 1px solid #999;

}