header{
	background-color: #1D2B61;
}
.text{
	background-color:;
	color: black;
	margin : 1%;
}
p{
	padding: 1%;
	text-align: justify;
}
footer{
	margin-top: 2%;
	background-color: #1D2B61;
	flex:auto;
}
h1{
	font-size: 30px;
	padding: 1%;
	color: black;
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin: 2%;
}
h2{
	font-size: 20px;
	padding: 1%;
	color: black;
	margin: 2%;
}
h3{
	font-size: 15px;
	padding: 1%;
	color: white;
	margin: 2%;
}
#nav  {
	display: inline-flex;
 	flex-grow: 2;
 	color: white;
 	align-items: center;
 	width: 100%;
 	margin-top: 1%;
}
#nav  li {
	flex-grow: 1;
	font-size: 20px;margin: 1%;
}
#nav a{
	color: white;
	padding: 1%;
	
}
.centre{
display: flex;
  align-items: center;
  justify-content: center;
}

body{
	background-color: #EAEAEE;
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
}